#ratingDiv {
  width: 26%;
  border-radius: 5px;
  padding: 0.4rem 0 0.4rem 0;
  background-color: rgba(0, 0, 0, 0.301);
  color: rgba(255, 255, 255, 0.897);
  display: flex;
  justify-content: space-evenly;
}

#ratingText {
  margin: 0;
  font-size: 0.8em;
}

#ratingDiv:hover {
  background-color: rgba(0, 0, 0, 0.432);
  color: rgb(255, 255, 255);
}

#ratingStar {
  margin-top: 0.2rem;
  color: rgb(218, 158, 29);
}
