@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

#navbarDiv {
  width: 80%;
  height: 95px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}

.sentToInnerMostDiv {
  display: flex;
}
